
.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}





.chartSettingsContainer {
  width: 800px;
  margin: 20px auto 10px;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #bbb;
  background: rgb(245, 245, 245);
}

.chartSettingsContainer h3 {
  margin: 10px;
}

.chartSettingsForm {
  display: flex;
  justify-content: space-around;
}

.chartSettingsContainer .form-group {
  width: 100px;
  margin-left: 10px;
}

form label {
  margin-left: 5px;
}

.form-group select {
  border-radius: 2px;
  -webkit-appearance: none;
}




.chartContainer {
  width: 1200px;
  margin: 0 auto 20px;
  /* border: 1px solid #555; */
}



.simulationContainer {
  width: 900px;
  padding-left: 20px;
  margin: 30px auto;
}

.startCrypto {
  font-size: 2rem;
}

.endCrypto{
  font-size: 2rem;
}

.glyphicon {
  font-size: 2rem;
  margin: 0 5px;
}

.glyphicon.good {
  transform: rotate(-45deg);
  color: rgb(100, 192, 100);
}
.glyphicon.bad {
  transform: rotate(45deg);
  color: rgb(226, 70, 70);
}

.currentSimOutput th, .currentSimOutput td {
  text-align: center;
}

.avgTypeHeader, .shortHeader, .longHeader {
  width: 7%;
}

.startingHeader, .endingHeader {
  width: 14%;
}

.arrowHeader {
  width: 4%;
}

.goodTradesHeader, .goodBuyTradesHeader, .goodSellTradesHeader {
  width: 14%
}



.simSettingsContainer {
  margin: 40px auto 10px;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #bbb;
  background: rgb(245, 245, 245);
}

.simSettingsContainer form {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.simSettingsContainer .form-group {
  width: 13%;
}

.simSettingsContainer label, .simSettingsContainer input {
  margin-left: 10px;
}

.simSettingsContainer button {
  height: 33px;
  margin-bottom: 15px;
}

table tr.good {
  background-color: rgb(129, 185, 129)!important;
}

table tr.bad {
  background-color: rgb(185, 129, 129)!important;
}